<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">Telefone</th>
            <th scope="col">Cadastrado</th>
            <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {{#each usuarios}}    
            <th scope="row">{{dataValues.id}}</th>
                <td>{{dataValues.nome}}</td>
                <td>{{dataValues.email}}</td>
                <td>{{dataValues.sexo}}</td>
                <td>{{dataValues.telefone}}</td>
                <td>{{#formatDate dataValues.createdAt}}{{/formatDate}}</td>
                <td><a href="/del-usuario/{{dataValues.id}}"><button class="btn btn-danger">Deletar</button></a> 
                <a href="/edit-usuario/{{dataValues.id}}"><button class="btn btn-success">Editar</button></a>
                </td>    
            </tr>
            {{/each}}
            <tr>
        </tbody>
    </table>    
    <a href="/cadastrar-usuarios"><button class="btn btn-primary">Cadastrar Usuários</button></a>
</body>
</html>